<div class="row justify-content-center align-items-center m-lg-5 m-2 ">
    <div class="col-lg-8 col-md-7 col-11 card shadow bg-body rounded p-0">
        <div class="row m-0 card-header">
            <div class="col-2 align-items-center d-flex justify-content-start p-0 m-0">
                <a href="/" class="text-decoration-none">
                    <i class="fa-solid fa-arrow-left fa-lg"></i>
                </a>
            </div>
            <div class="col-8 align-items-center d-flex justify-content-center">
                <h4 class="text-center align-middle mb-0">Nuevo</h4>
            </div>
            <div class="col-2">
                <p> </p>
            </div>
        </div>
        <div class="row p-4 m-0" >
            <div class="col-6">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="name">
            </div>
            <div class="col-6">
                <label class="form-label">Descripcion</label>
                <input type="text" class="form-control" name="desc" [(ngModel)]="desc">
            </div>
            <div class="col-6">
                <label class="form-label">Grupo</label>
                <select class="form-select" name="desc" [(ngModel)]="selectedGroup">
                    <option value="" selected disabled>Seleccione un grupo</option>
                    @for (group of groupList; track $index) {
                    <option [value]="group.Id">{{ group.Name }}</option>
                    }
                </select>
            </div>
            <div class="col-6">
                <label class="form-label">Tipo de lista</label>
                <select class="form-select" name="desc" [(ngModel)]="selectedType">
                    <option value="" selected disabled>Seleccione un tipo de lista</option>
                    @for ( type of listTypes ; track $index) {
                    <option [value]="type.value">{{ type.name }}</option>
                    }
                </select>
            </div>
            <div class="col-12 my-4 p-0">
              <hr>
                <div class="d-flex justify-content-between align-items-center">
                    <label class="form-label m-0">Items</label>
                    <a id="btn-add" type="button" class="btn btn-success" (click)="addItem()"><i class="fa-solid fa-plus"></i></a>
                </div>
                <div class="row">
                    @for (item of list.Items; track $index) {
                        <div class="col-xl-6 col-sm-12">
                            <div class="card shadow bg-body rounded m-2 p-0">
                                <div class="row m-0 card-header">
                                    <div class="col-2 align-items-center d-flex justify-content-start p-0 m-0">
                                        <p> </p>
                                    </div>
                                    <div class="col-8 align-items-center d-flex justify-content-center">
                                        <h6 class="text-center align-middle mb-0">#{{$index+1}}</h6>
                                    </div>
                                    <div class="col-2 align-items-center d-flex justify-content-end p-0 m-0">
                                        <a class="text-decoration-none text-end" (click)="removeItem(item)">
                                            <i class="fa-solid fa-xmark fa-lg text-danger"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-6 mb-2">
                                        <label class="form-label">Nombre</label>
                                        <input type="text" class="form-control" name="name" [(ngModel)]="item.Name">
                                    </div>
                                    <div class="col-6 mb-2">
                                        <label class="form-label">Descripcion</label>
                                        <input type="text" class="form-control" name="desc" [(ngModel)]="item.Desc">
                                    </div>
                                    @if (selectedType == ListType.shopping || selectedType == ListType.accounting){
                                        <div class="col-6 mb-2">
                                            @if (selectedType == ListType.shopping ){
                                                <label class="form-label">Cantidad</label>
                                            }
                                            @if (selectedType == ListType.accounting ){
                                                <label class="form-label">Monto</label>
                                            }
                                            <input type="text" class="form-control" name="Quantity" [(ngModel)]="item.Quantity">
                                        </div>
                                    }
                                    @if (selectedType != ListType.note && selectedType != ListType.shopping && selectedType != ListType.accounting){
                                        <div class="col-12">
                                            <label class="form-label">Fecha</label>
                                            <input type="datetime-local" class="form-control" name="date"
                                                   [(ngModel)]="item.LimitDate">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-12 justify-content-between d-flex">
                <a href="/">
                    <button type="button" class="btn btn-danger m-3" >Cancelar</button>
                </a>
                <button type="submit" id="btn-submit" class="btn btn-success m-3" (click)="create()">Crear</button>
            </div>
        </div>
    </div>
</div>
