
<div>
    @for (user of users; track $index) {
        @if (user.color !== "") {
            <i [ngClass]="{'fa-2x': doubleSized}" class="fa-solid fa-circle-user m-1"  data-bs-toggle="tooltip"
            data-bs-placement="bottom" ngbTooltip="{{ labeled ? user.name : '' }}"
            [style.color]="user.color"></i>
        }
        @if (user.picture !== "") {
            <i [ngClass]="{'fa-2x': doubleSized}" class="fa-solid fa-circle-user m-1"  data-bs-toggle="tooltip"
            data-bs-placement="bottom" ngbTooltip="{{ labeled ? user.name : '' }}"
            [style.color]="user.color"></i>
        }
    }
</div>