
<div>
    @for (user of users; track $index) {
        @if (user.color !== "") {
            <i [ngClass]="{'fa-2x': user.doubleSize}" class="fa-solid fa-circle-user"  data-bs-toggle="tooltip"
            data-bs-placement="bottom" ngbTooltip="{{user.name}}"
            style="color: red;"></i>
        }
        @if (user.picture !== "") {
            <i [ngClass]="{'fa-2x': user.doubleSize}" class="fa-solid fa-circle-user"  data-bs-toggle="tooltip"
            data-bs-placement="bottom" ngbTooltip="{{user.name}}"
            style="color: red;"></i>
        }
    }
</div>