<div class="row justify-content-center align-items-center m-5">
  <div class="col-8 col-md-7 card shadow bg-body rounded">
    <h1 class="text-center mt-3">Bienvenido de vuelta</h1>
    <small class="text-center mb-3">List together admin</small>
    <form (ngSubmit)="login()">
      <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Usuario</label>
          <input type="email" class="form-control" name="inputEmail" [(ngModel)]="user">
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Contraseña</label>
          <input type="password" class="form-control" name="inputPassword" [(ngModel)]="pass">
          <small><a href="forgot" class="text-decoration-none">Olvidó su contraseña</a></small>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Iniciar sesión</button>
        <small class="mb-4"><a href="register" class="text-decoration-none">Registrarse</a></small>
      </div>
    </form>
  </div>

</div>
