<div class="card shadow mb-2 bg-body rounded">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <h6 class="mb-0">{{list.Name}}</h6>
            <small>{{list.Group.Name}}</small>
        </div>
      <div class="d-flex">
        <button class="btn btn-success " (click)="showFilters()">
          <i class="fa-solid fa-filter"></i>
        </button>
        <button class="btn btn-success mx-2" (click)="downloadExcel()">
          <i class="fa-solid fa-file-excel"></i>
        </button>
        <a href="lists/{{list.Id}}">
          <button class="btn btn-success">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div [class.d-none] = !filtersVisible>
        <div class="d-flex align-items-center justify-content-between mb-2">
          <div class="me-2 d-flex">
            <label class="form-label align-items-center d-flex me-2 mb-0" >Nombre:</label>
            <input class="form-control" name="name" [(ngModel)]="nameFilter" (ngModelChange)="filterItems()"
                   placeholder="Nombre del elemento...">
          </div>
          <div class="me-2">
            <label class="form-label m-0 me-2" >Incompleto?:</label>
            <input class="form-check-input me-1" type="checkbox" name="name" [(ngModel)]="completeFilter" (ngModelChange)="filterItems()">
          </div>
          <button class="btn btn-danger" (click)="cleanFilters()">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <hr>
      </div>
        <ul class="list-group">
            @for (account of pagedItems; track account){
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <input class="form-check-input me-1 mt-0" type="checkbox" [checked]="account.Completed"  style="pointer-events: none;">
                    <label [class.text-decoration-line-through]="account.Completed">{{ account.Name }}</label>
                    <app-mini-user [users]="[account.CompletedBy]"></app-mini-user>
                </div>
                @if (account.Desc != "") {
                    <div class="text-center">
                        <label>{{account.Desc}}</label>
                    </div>
                }
                <div class="text-center">
                    <label>{{ account.Quantity | formatMoney}}</label>
                </div>
                <div class="text-end">
                  <app-mini-user [users]="[account.CreatedBy]"></app-mini-user>
                </div>
            </li>
            }
        </ul>
      <div class="d-flex justify-content-around align-items-center mt-2">
        <button (click)="prevPage()" [disabled]="currentPage === 1" class="btn btn-secondary p-0 px-2">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btn-secondary p-0 px-2">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
</div>
