<div class="card shadow mb-2 bg-body rounded">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <h6 class="mb-0">{{list.Name}}</h6>
            <small>{{list.Group.Name}}</small>
        </div>
        <a href="lists/{{list.Id}}">
            <button class="btn btn-success">
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
        </a>
    </div>
    <div class="card-body">
        <ul class="list-group">
            @for (account of list.Items; track account){
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex ">
                    <input class="form-check-input me-1" type="checkbox" [checked]="account.Completed"  style="pointer-events: none;">
                    <label [class.text-decoration-line-through]="account.Completed">{{ account.Name }}</label>
                    <app-mini-user [users]="[account.CreatedBy]"></app-mini-user>
                </div>
                @if (account.Desc != "") {
                    <div class="text-center">
                        <label>{{account.Desc}}</label>
                    </div>
                }
                <div class="text-center">
                    <label>{{ account.Quantity | formatMoney}}</label>
                </div>
                <div class="text-end">
                    <app-mini-user [users]="[account.CompletedBy]"></app-mini-user>
                </div>
            </li>
            }
        </ul>
    </div>
</div>
