<div class="row justify-content-center align-items-center m-lg-5 m-2 ">
  <div class="col-lg-8 col-md-7 col-11 card shadow bg-body rounded p-0">
    <div class="row m-0 card-header">
      <div class="col-2 align-items-center d-flex justify-content-start p-0 m-0">
        <a href="/" class="text-decoration-none">
          <i class="fa-solid fa-arrow-left fa-lg"></i>
        </a>
      </div>
      <div class="col-8 align-items-center d-flex justify-content-center">
        <h4 class="text-center align-middle mb-0">Editar</h4>
      </div>
      <div class="col-2">
        <p> </p>
      </div>
    </div>
    <div class="row p-4 m-0" style="background: #dcdcdc52">
      <div class="col-xl-6 col-sm-12">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="user.Name">
      </div>
      <div class="col-6">
        <label class="form-label">Usuario</label>
        <input type="text" class="form-control" name="desc" disabled [(ngModel)]="user.User">
      </div>
        <div class="col-6">
            <label class="form-label">Contraseña actual:</label>
            <input type="password" class="form-control" name="pass" [(ngModel)]="OldPass">
        </div>
      <div class="col-6">
        <label class="form-label">Contraseña nueva:</label>
        <input type="password" class="form-control" name="pass" [(ngModel)]="pass" (ngModelChange)="checkPass()">
      </div>
      <div class="col-6">
        <label class="form-label">Correo</label>
        <input type="text" class="form-control" name="desc" disabled [(ngModel)]="user.Mail">
      </div>
      <div class="col-6">
        <label class="form-label">Confirmar contraseña</label>
        <input type="password" class="form-control" name="passConf" [(ngModel)]="passConf" (ngModelChange)="checkPassConf()">
        <small class="text-danger" [class.d-none]="!passConfError">Las contraseñas no coinciden</small>
          <small class="text-danger" [class.d-none]="!passErrorLength">Las contraseña debe tener minimo 8 caracteres<br></small>
          <small class="text-danger" [class.d-none]="!passErrorUpper">Las contraseña debe tener por lo menos una mayúscula<br></small>
          <small class="text-danger" [class.d-none]="!passErrorNumber">Las contraseña debe tener por lo menos una número</small>
      </div>
      <div class="col-12">
        <label class="form-label">Color</label>
        <div class="row justify-content-around">
          <div class="col-auto justify-content-around align-items-center d-flex">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="color" [(ngModel)]="user.Color"
                     id="red" value="red" checked>
              <label class="form-check-label">
                Rojo <span class="color-preview ms-1" style="background: red;"></span>
              </label>
            </div>
          </div>
            <div class="col-auto justify-content-around align-items-center d-flex">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="color" [(ngModel)]="user.Color"
                         id="green" value="green" checked>
                  <label class="form-check-label">
                    Verde <span class="color-preview ms-1" style="background: green;"></span>
                  </label>
                </div>
          </div>
          <div class="col-auto justify-content-around align-items-center d-flex">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="color" [(ngModel)]="user.Color"
                     id="pink" value="pink">
              <label class="form-check-label">
                Rosa <span class="color-preview ms-1" style="background: pink;"></span>
              </label>
            </div>
          </div>
              <div class="col-auto justify-content-around align-items-center d-flex">

            <div class="form-check">
              <input class="form-check-input" type="radio" name="color" [(ngModel)]="user.Color"
                     id="black" value="black">
              <label class="form-check-label">
                Negro <span class="color-preview ms-1" style="background: black;"></span>
              </label>
            </div>
          </div>
        <div class="col-auto justify-content-around align-items-center d-flex">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="color" [(ngModel)]="user.Color"
                     id="orange" value="orange">
              <label class="form-check-label">
                Naranja <span class="color-preview ms-1" style="background: orange;"></span>
              </label>
            </div>
        </div>
            <div class="col-auto justify-content-around align-items-center d-flex">

            <div class="form-check">
              <input class="form-check-input" type="radio" name="color" [(ngModel)]="user.Color"
                     id="blue" value="blue">
              <label class="form-check-label">
                Azul <span class="color-preview ms-1" style="background: blue;"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 justify-content-end d-flex">
        <button type="submit" id="btn-submit" class="btn btn-success m-3" (click)="update()" [class.disabled]="!sendEnabled">Guardar</button>
      </div>
    </div>
  </div>
</div>
