<div class="row justify-content-center align-items-center m-5">
    <div class="col-8 col-md-7 card shadow bg-body rounded">
        <a href="groups" class="text-decoration-none">
            <i class="fa-solid fa-arrow-left mt-4 fa-lg"></i>
        </a>
        <h1 class="text-center mb-3">Nuevo grupo</h1>
        <form (ngSubmit)="register()">
            <div class="row">
                <div class="col-6">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="name">
                </div>
                <div class="col-6">
                    <label for="desc" class="form-label">Descripcion</label>
                    <input type="text" class="form-control" name="desc" [(ngModel)]="desc">
                </div>
                <div class="col-12 mt-2">
                    <label for="userInput" class="form-label">Agregar usuario por mail o nombre de usuario</label>
                    <input type="text" [(ngModel)]="userInput" class="form-control mb-2" name="userInput" (keydown.enter)="addUser()">

                    <label for="users" class="form-label">Usuarios invitados</label>
                    <div class="d-flex align-items-around flex-wrap">
                        
                        @for (user of users; track $index) {
                            <div class="card shadow bg-body rounded m-2">
                                {{ user }}
                                <a class="text-decoration-none" (click)="removeUser(user)">X</a>
                            </div>
                            
                        }
                    </div>
                </div>
                <div class="col-12 justify-content-center d-flex">
                    <button type="submit" id="btn-submit" class="btn btn-primary m-3">Crear grupo</button>
                </div>
            </div>
        </form>
    </div>
</div>