<!--<div class="row m-2 m-xl-5 masonry">
    <div class="col">
         dropdown por grupo, o por tipo de listas. -->
        <!-- <button>Filtros</button>
    </div>
</div>-->
<div class="d-flex align-items-center justify-content-center flex-column m-2 mt-xl-2">
    <div class="d-flex align-items-center justify-content-center">
        <div class="card shadow mb-2 bg-body rounded me-2">
                <div class="card-header align-items-center d-flex justify-content-between">
                    <h6 class="text-center align-middle mb-0">Filtros</h6>
                    <button class="btn btn-danger" (click)="cleanFilters()">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="me-2">
                        <label class="form-label" >Nombre:</label>
                        <input class="form-control" name="name" [(ngModel)]="nameFilter" (ngModelChange)="filterLists()"
                        placeholder="Nombre de la lista...">
                    </div>
                    <div class="me-2">
                        <label class="form-label">Grupo:</label>
                        <select class="form-select" name="desc" [(ngModel)]="groupFilter" (ngModelChange)="filterLists()">
                            <option value="" selected>Seleccione un grupo</option>
                            @for (group of groups; track $index) {
                                <option [value]="group.Name">{{ group.Name }}</option>
                            }
                        </select>
                    </div>
                    <div class="me-2">
                        <label class="form-label">Tipo:</label>
                        <select class="form-select" name="desc" [(ngModel)]="typeFilter" (ngModelChange)="filterLists()">
                            <option value="{{ListType.null}}" selected>Seleccione un Tipo</option>
                            @for (type of listTypeOptions; track $index) {
                                <option [value]="type.value">{{ type.display }}</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-2 bg-body rounded">
            <div class="card-body">
                <a href="/lists/new">
                    <button class="btn btn-success">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row m-2 m-xl-5 mt-xl-2 masonry">
    @for (list of listsFiltered; track list){
        @switch (list.Type) {
            @case(enum.accounting){
                <div class="col-md-4 col-xs-6">
                    <app-accounts-short [list]="list"></app-accounts-short>
                </div>
            }
            @case(enum.event){
                <div class="col-md-4 col-xs-6">
                    <app-events-short [list]="list"></app-events-short>
                </div>
            }
            @case(enum.shopping){
                <div class="col-md-4 col-xs-6">
                    <app-shopping-short [list]="list"></app-shopping-short>
                </div>
            }
            @case(enum.note){
                <div class="col-md-4 col-xs-6">
                    <app-notes-short [list]="list"></app-notes-short>
                </div>
            }
            @case(enum.reminder){
                <div class="col-md-4 col-xs-6">
                    <app-reminders-short [list]="list"></app-reminders-short>
                </div>
            }
        }
    }

</div>
