<div ngbDropdownItem [disabled]="notification.Read" (click)="read()"
     class="d-flex justify-content-between align-items-center p-0">
    {{notification.Message | capitalizeFirstLetter}}
    <div class="ms-3">
      @if (notification.Read && notification.Accepted) {
          <i class="fa-solid fa-check text-success fa-xl"></i>
      }
      @if (notification.Read && !notification.Accepted) {
          <i class="fa-solid fa-xmark text-danger fa-xl mx-2"></i>
      }
      @if (!notification.Read) {
      <button class="btn btn-success" (click)="accept()">
          Aceptar
      </button>
      <button class="btn btn-danger ms-4" (click)="decline()">
          Rechazar
      </button>
      }
    </div>
</div>
