<div ngbDropdown display="dynamic" class="d-flex align-items-center">
    <div ngbDropdownToggle class="d-flex align-items-center justify-content-center" (click)="reloadNotifications()">
        <div class="notification">
            @if(notRead > 0){
                <i class="fa-solid fa-bell fa-2x"></i>
                <span class="badge">{{ notRead }}</span>
            } @else {
                <i class="fa-regular fa-bell fa-2x"></i>
            }
        </div>
    </div>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="py-0">
        @if (notifications.length > 0){
            <a href="" class="text-decoration-none"><div ngbDropdownItem (click)="deleteAll()" href="" class="pe-auto py-2 rounded">Borrar todo</div>
            </a>
            <hr class="mt-0 mb-1">
            @for (notification of notifications.slice(0, 5); track $index) {
                @if (notification.Type == "new-group"){
                    <app-group-notification [notification]="notification" (messageEvent)="notificationResponse($event)" ngbDropdownItem></app-group-notification>
                }
                @if (notification.Type == "generic"){
                    <app-generic [notification]="notification" ngbDropdownItem (messageEvent)="delete($event)"></app-generic>
                }
            }
        } @else {
            <div ngbDropdownItem class="pe-auto pt-2 rounded">No hay notificaciones</div>
        }
        @if (notifications.length > 5){
          <hr class="my-0">
          <a href="" class="text-decoration-none">
          <div ngbDropdownItem (click)="goToAll()" href="" class="pe-auto py-2 rounded">Ir a detalles</div></a>
        }
    </div>
</div>
