
<div class="card shadow mb-2 bg-body rounded">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Notas</h5>
        <button class="btn btn-success">Abrir</button>
    </div>
    <div class="card-body">
        <div class="list-group">
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Revisar vuelos</h5>
                    <small class="text-muted">hace 2 horas</small>
                </div>
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <small>Acuerdence de ir viendo vuelos para el viaje del
                        15/7.</small>
                    <i class="fa-solid fa-circle-user" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" data-bs-title="Juan"
                        style="color: red;"></i>
                </div>
            </div>
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Dar de comer al perro</h5>
                    <small class="text-muted">hace 1 hora</small>
                </div>
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <small>La comida esta sobre la mesada.</small>
                    <i class="fa-solid fa-circle-user" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" data-bs-title="Lucas"
                        style="color: blue;"></i>
                </div>
            </div>
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Lavar la ropa</h5>
                    <small class="text-muted">hace 5 hora</small>
                </div>
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <small>Hay que poner a lavar la ropa que esta en el canasto.</small>
                    <i class="fa-solid fa-circle-user" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" data-bs-title="Ce"
                        style="color: green;"></i>
                </div>
            </div>
        </div>
    </div>
</div>