<div class="card shadow mb-2 bg-body rounded">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <h6 class="mb-0">{{list.Name}}</h6>
            <small>{{list.Group.Name}}</small>
        </div>
        <div class="d-flex">
          <button class="btn btn-success " (click)="showFilters()">
            <i class="fa-solid fa-filter"></i>
          </button>
          <button class="btn btn-success mx-2" (click)="downloadExcel()">
            <i class="fa-solid fa-file-excel"></i>
          </button>
          <a href="lists/{{list.Id}}">
            <button class="btn btn-success">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </a>
        </div>
    </div>
    <div class="card-body">
      <div class="d-flex align-items-center justify-content-around mb-2" [class.d-none] = !filtersVisible>
        <div class="me-2">
          <label class="form-label" >Nombre:</label>
          <input class="form-control" name="name" [(ngModel)]="nameFilter" (ngModelChange)="filterItems()"
                 placeholder="Nombre de la lista...">
        </div>
        <button class="btn btn-danger" (click)="cleanFilters()">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
        @for (event of pagedItems; track event; let i = $index){
        @if (i != 0) {
        <hr class="bg-danger border-2 m-3 border-top border-danger" />
        }
        <div class="row">
            <div class="col-3 d-flex align-items-center justify-content-center">
                <div class="calendar">
                    <span class="calendar-month">{{getShortMonth(event.LimitDate)}}</span>
                    <span class="calendar-day">{{getDate(event.LimitDate)}}</span>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-between align-items-center">
                <div class="col-10">
                    <div class="d-flex align-items-center">
                        <h5 class="card-title mb-0">{{event.Name}}</h5>
                        <app-mini-user [users]="[event.CreatedBy]"></app-mini-user>
                    </div>
                    <small class="card-text mb-1">{{event.Desc}}</small>
                </div>
            </div>
            <!-- <div class="col-3 d-flex align-items-center justify-content-end">
                        <a href="#" class="btn btn-primary">Ver detalles</a>
                </div> -->
        </div>
        }
      <div class="d-flex justify-content-around align-items-center mt-2">
        <button (click)="prevPage()" [disabled]="currentPage === 1" class="btn btn-secondary p-0 px-2">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btn-secondary p-0 px-2">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
</div>
