
<div id="category-view" class="container mt-3 collapse multi-collapse show">
    <div class="row mansory justify-content-center align-items-center">
        <div class="col-xs-12 col-md-6 pb-3">
            <div class="card shadow mb-2 bg-body rounded">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Proximos eventos</h5>
                    <button class="btn btn-success">Abrir</button>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-6">
                            <div class="card shadow mb-2 bg-body rounded">
                                <div class="card-header">
                                    Familia
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-auto pb-3">
                                            <div class="calendar">
                                                <span class="calendar-month">Mar</span>
                                                <span class="calendar-day">26</span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h5 class="card-title">Cumple Sofi</h5>
                                            <p class="card-text">En casa de la tia, no olvidar llevar todo
                                            </p>
                                            <div
                                                class="d-flex justify-content-between align-items-center pe-2">
                                                <a href="#" class="btn btn-primary">Ver detalles</a>
                                                <i class="fa-solid fa-circle-user fa-2x"
                                                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                    data-bs-title="Juan" style="color: red;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card shadow mb-2 bg-body rounded">
                                <div class="card-header">
                                    Amigos
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-auto pb-3">
                                            <div class="calendar">
                                                <span class="calendar-month">Abr</span>
                                                <span class="calendar-day">15</span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h5 class="card-title">Asado Lucas</h5>
                                            <p class="card-text">Revisar lista de cosas
                                            </p>
                                            <div
                                                class="d-flex justify-content-between align-items-center pe-2">
                                                <a href="#" class="btn btn-primary">Ver detalles</a>
                                                <i class="fa-solid fa-circle-user fa-2x"
                                                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                    data-bs-title="Lucas" style="color: orange;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 pb-3">
            <div class="card shadow mb-2 bg-body rounded">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Compras pendientes</h5>
                    <button class="btn btn-success">Abrir</button>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-6">
                            <div class="card shadow mb-2 bg-body rounded">
                                <div class="card-header">
                                    Familia
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <ul class="list-group">
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <input class="form-check-input me-1" type="checkbox"
                                                        value="" id="tortascheck">
                                                    <label>Tortas</label>
                                                    <i class="fa-solid fa-circle-user"
                                                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                        data-bs-title="Juan" style="color: red;"></i>
                                                </div>
                                                <div class="text-center">
                                                    <label> Cumple Sofi </label>
                                                </div>
                                                <div class="text-end">
                                                    <i class="fa-solid fa-circle-user"
                                                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                        data-bs-title="Ce" style="color: green;"></i>
                                                    <i class="fa-solid fa-circle-user"
                                                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                        data-bs-title="Lucas" style="color: blue;"></i>
                                                    <label> 2/3 </label>
                                                </div>
                                            </li>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <input class="form-check-input me-1" type="checkbox"
                                                        value="" checked id="firstCheckboxStretched">
                                                    <label><s>Carne</s></label>
                                                    <i class="fa-solid fa-circle-user"
                                                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                        data-bs-title="Lucas" style="color: blue;"></i>
                                                </div>
                                                <div class="text-center">
                                                    <label> Casa </label>
                                                </div>
                                                <div class="text-end">
                                                    <i class="fa-solid fa-circle-user"
                                                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                        data-bs-title="Ce" style="color: green;"></i>
                                                </div>
                                            </li>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <input class="form-check-input me-1" type="checkbox"
                                                        value="" id="thirdCheckboxStretched">
                                                    <label>Verdura</label>
                                                    <i class="fa-solid fa-circle-user"
                                                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                        data-bs-title="Lucas" style="color: blue;"></i>
                                                </div>
                                                <div class="text-center">
                                                    <label> Casa </label>
                                                </div>
                                                <div class="text-end">
                                                    <label> </label>
                                                </div>
                                            </li>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <input class="form-check-input me-1" type="checkbox"
                                                        value="" id="thirdCheckboxStretched">
                                                    <label>Regalo</label>
                                                    <i class="fa-solid fa-circle-user"
                                                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                        data-bs-title="Ce" style="color: green;"></i>
                                                </div>
                                                <div class="text-center">
                                                    <label> Cumple Sofi </label>
                                                </div>
                                                <div class="text-end">
                                                    <label> </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card shadow mb-2 bg-body rounded">
                                <div class="card-header">
                                    Amigos
                                </div>
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <input class="form-check-input me-1" type="checkbox"
                                                    value="" checked id="firstCheckboxStretched">
                                                <label><s>Costilla</s></label>
                                                <i class="fa-solid fa-circle-user" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" data-bs-title="Lucas"
                                                    style="color: orange;"></i>
                                            </div>
                                            <div class="text-center">
                                                <label> Asado Lucas </label>
                                            </div>
                                            <div class="text-end">
                                                <i class="fa-solid fa-circle-user" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" data-bs-title="Lucas"
                                                    style="color: orange;"></i>
                                            </div>
                                        </li>
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <input class="form-check-input me-1" type="checkbox"
                                                    value="" id="thirdCheckboxStretched">
                                                <label>Regalo</label>
                                                <i class="fa-solid fa-circle-user" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" data-bs-title="Jose"
                                                    style="color: green;"></i>
                                            </div>
                                            <div class="text-center">
                                                <label> Asado Lucas </label>
                                            </div>
                                            <div class="text-end">
                                                <i class="fa-solid fa-circle-user" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" data-bs-title="Jose"
                                                    style="color: green;"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 pb-3">
            <div class="card shadow mb-2 bg-body rounded">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Cuentas pendientes</h5>
                    <button class="btn btn-success">Abrir</button>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-6">
                            <div class="card shadow mb-2 bg-body rounded">
                                <div class="card-header">
                                    Familia
                                </div>
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <input class="form-check-input me-1" type="checkbox"
                                                    value="" id="firstCheckboxStretched">
                                                <label>Luz</label>
                                                <i class="fa-solid fa-circle-user" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" data-bs-title="Juan"
                                                    style="color: red;"></i>
                                            </div>
                                            <div class="text-center">
                                                <label> $15.000 </label>
                                            </div>
                                            <div class="text-end">
                                            </div>
                                        </li>
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <input class="form-check-input me-1" type="checkbox"
                                                    value="" checked id="firstCheckboxStretched">
                                                <label><s>Internet</s></label>
                                                <i class="fa-solid fa-circle-user" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" data-bs-title="Lucas"
                                                    style="color: blue;"></i>
                                            </div>
                                            <div class="text-center">
                                                <label> $10.000 </label>
                                            </div>
                                            <div class="text-end">
                                                <i class="fa-solid fa-circle-user" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" data-bs-title="Ce"
                                                    style="color: green;"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card shadow mb-2 bg-body rounded">
                                <div class="card-header">
                                    Amigos
                                </div>
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <input class="form-check-input me-1" type="checkbox"
                                                    value="" id="asadocheck2">
                                                <label>Asado Lucas</label>
                                                <i class="fa-solid fa-circle-user" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" data-bs-title="Lucas"
                                                    style="color: orange;"></i>
                                            </div>
                                            <div class="text-center">
                                                <label> $5.000 </label>
                                            </div>
                                            <div class="text-end">
                                                1/5
                                                <i class="fa-solid fa-circle-user" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" data-bs-title="Jose"
                                                    style="color: green;"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 pb-3">
            <div class="card shadow mb-2 bg-body rounded">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Recordatorios de hoy</h5>
                    <button class="btn btn-success">Abrir</button>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-6">
                            <div class="card shadow mb-2 bg-body rounded">
                                <div class="card-header">
                                    Familia
                                </div>
                                <div class="card-body">
                                    <div class="list-group">
                                        <div class="list-group-item list-group-item-action">
                                            <div class="row">
                                                <div class="col-auto align-items-center d-flex">
                                                    <div class="">
                                                        <h4>15:00</h4>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h5 class="card-title">Oculista</h5>
                                                        <p class="card-text">Rondó 134</p>
                                                    </div>
                                                    <div class="text-end">
                                                        <i class="fa-solid fa-circle-user fa-2x"
                                                            data-bs-toggle="tooltip"
                                                            data-bs-placement="bottom" data-bs-title="Ce"
                                                            style="color: green;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item list-group-item-action">
                                            <div class="row">
                                                <div class="col-auto align-items-center d-flex">
                                                    <div class="">
                                                        <h4>21:00</h4>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h5 class="card-title">Futbol</h5>
                                                        <p class="card-text">Talas 123</p>
                                                    </div>
                                                    <div class="text-end">
                                                        <i class="fa-solid fa-circle-user fa-2x"
                                                            data-bs-toggle="tooltip"
                                                            data-bs-placement="bottom" data-bs-title="Juan"
                                                            style="color: red;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card shadow mb-2 bg-body rounded">
                                <div class="card-header">
                                    Amigos
                                </div>
                                <div class="card-body">
                                    <div class="list-group">
                                        <div class="list-group-item list-group-item-action">
                                            <div class="row">
                                                <div class="col-auto align-items-center d-flex">
                                                    <div class="">
                                                        <h4>22:00</h4>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h5 class="card-title">Futbol</h5>
                                                        <p class="card-text">Cancha vieja</p>
                                                    </div>
                                                    <div class="text-end">
                                                        <i class="fa-solid fa-circle-user fa-2x"
                                                            data-bs-toggle="tooltip"
                                                            data-bs-placement="bottom" data-bs-title="Ce"
                                                            style="color: green;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Notas -->
        <div class="col-xs-12 col-md-6 pb-3">
            <div class="card shadow mb-2 bg-body rounded">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Notas</h5>
                    <button class="btn btn-success">Abrir</button>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-6">
                            <div class="card shadow mb-2 bg-body rounded">
                                <div class="card-header">
                                    Familia
                                </div>
                                <div class="card-body">
                                    <div class="list-group">
                                        <div class="list-group-item list-group-item-action">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Revisar vuelos</h5>
                                                <small class="text-muted">hace 2 horas</small>
                                            </div>
                                            <div
                                                class="d-flex w-100 justify-content-between align-items-center">
                                                <small>Acuerdence de ir viendo vuelos para el viaje del
                                                    15/7.</small>
                                                <i class="fa-solid fa-circle-user" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" data-bs-title="Juan"
                                                    style="color: red;"></i>
                                            </div>
                                        </div>
                                        <div class="list-group-item list-group-item-action">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Dar de comer al perro</h5>
                                                <small class="text-muted">hace 1 hora</small>
                                            </div>
                                            <div
                                                class="d-flex w-100 justify-content-between align-items-center">
                                                <small>La comida esta sobre la mesada.</small>
                                                <i class="fa-solid fa-circle-user" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" data-bs-title="Lucas"
                                                    style="color: blue;"></i>
                                            </div>
                                        </div>
                                        <div class="list-group-item list-group-item-action">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Lavar la ropa</h5>
                                                <small class="text-muted">hace 5 hora</small>
                                            </div>
                                            <div
                                                class="d-flex w-100 justify-content-between align-items-center">
                                                <small>Hay que poner a lavar la ropa que esta en el
                                                    canasto.</small>
                                                <i class="fa-solid fa-circle-user" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" data-bs-title="Ce"
                                                    style="color: green;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card shadow mb-2 bg-body rounded">
                                <div class="card-header">
                                    Amigos
                                </div>
                                <div class="card-body">
                                    <div class="list-group">
                                        <div class="list-group-item list-group-item-action">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Reservar cancha</h5>
                                                <small class="text-muted">hace 2 días</small>
                                            </div>
                                            <div
                                                class="d-flex w-100 justify-content-between align-items-center">
                                                <small>Alguien que reserve cancha para jugar el
                                                    jueves</small>
                                                <i class="fa-solid fa-circle-user" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" data-bs-title="Lucas"
                                                    style="color: orange;"></i>
                                            </div>
                                        </div>
                                        <div class="list-group-item list-group-item-action">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Buscar paintball</h5>
                                                <small class="text-muted">hace 2 días</small>
                                            </div>
                                            <div
                                                class="d-flex w-100 justify-content-between align-items-center">
                                                <small>Hay que buscar un lugar para el cumple de
                                                    Nico</small>
                                                <i class="fa-solid fa-circle-user" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" data-bs-title="Jorge"
                                                    style="color: blue;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>