:root {
    --danger: 230,55,87
}

.collapsing{
  transition: none !important;
}
.grid-item{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
    background-color: #edf2f9;
}

.card{
    border: 0;
}
.card-header{
    border: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color-preview {
  width: 15px;
  height: 15px;
  margin: auto;
  display: inline-block;
  border: 1px solid gray;
  vertical-align: middle;
  border-radius: 2px;
}
